{% extends 'backoffice/base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Event</h1>
        {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('app_event_index') }}">Back to List</a>
    </div>
{% endblock %}