{% extends 'front.html.twig' %}
{% block recherche %}

   

<script>
// Function to fetch clubs based on search input
function fetchClubs(searchValuee) {
    fetch('{{ path('search1') }}', {
        method: 'POST',
        body: JSON.stringify({ search: searchValuee }),
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => response.text())
      .then(data => document.getElementById('searchResults1').innerHTML = data);
}

// Initial fetch to show all clubs
fetchClubs('');

// Listen for input on search input field
document.getElementById('searchInput').addEventListener('input', function() {
    var searchValuee = this.value.trim();
    fetchClubs(searchValuee);
});


</script>
  {% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Cours</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
     

        .btn-custom {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            transition: all 0.3s ease-in-out;
        }

        .btn-custom:hover {
            background-color: #0056b3;
            border-color: #0056b3;
            color: #fff;
        }

        .btn-custom:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }

        /* Styles pour les icônes des boutons */
        .btn-custom .fas {
            margin-right: 5px;
        }
        h1.text-center {
    font-size: 36px; /* Taille de la police */
    color: #007bff; /* Couleur du texte (bleu) */
    margin-bottom: 20px; /* Marge inférieure pour l'espace */
    text-transform: uppercase; /* Convertir le texte en majuscules */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 60px; /* Ombre portée pour mettre en évidence */}
    .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
}

    </style>
</head>
<body>
    <h1 class="text-center">Liste Des Cours</h1>

       
<div id="searchResults1"></div>
    


   
</body>
</html>
{% endblock %}