
{% extends 'base.html.twig' %}


{% block body %}
    <h1><center>Edit Travail</center></h1>

    {{ include('travail/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_travail_index') }}">back to list</a>

    {{ include('travail/_delete_form.html.twig') }}
{% endblock %}
