{% extends 'base.html.twig' %}

{% block title %}Listes des archives{% endblock %}
{% block recherche %}
 <input id="searchInput"  type="search" placeholder="Search">
   

<script>
// Function to fetch clubs based on search input
function fetchClubs(searchValue) {
    fetch('{{ path('search') }}', {
        method: 'POST',
        body: JSON.stringify({ search: searchValue }),
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => response.text())
      .then(data => document.getElementById('searchResults').innerHTML = data);
}

// Initial fetch to show all clubs
fetchClubs('');

// Listen for input on search input field
document.getElementById('searchInput').addEventListener('input', function() {
    var searchValue = this.value.trim();
    fetchClubs(searchValue);
});


</script>
  {% endblock %}
{% block body %}
    <h1>Listes des Archives </h1>

         <div id="searchResults"></div>


    
    

{% endblock %}
